.app {
    width: 100%;
    padding: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  
  .begin_enter {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    width: 40%;
    padding: 15px;
  }
  